/*header*/
.header{
  width: 100%;
  height: auto;
  /* border: 1px solid; */
  box-sizing: border-box;
  background-color:#239cdc;
  padding: 20px 0;
  box-sizing: border-box;
  /* background-image: url(../images/test1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%; */
  background: url(../../images/test1.jpg) no-repeat 50%/cover;
}
.header .nav{
  width: 100%;
  max-width: 1200px;
  /* border: 1px solid; */
  box-sizing: border-box;
  margin: 0 auto;
  background-color: #cccccc;
}
.header .nav::after{
  content: '';
  display: block;
  clear: both;
}
.header .nav h1.logo{
  width: 100px;
  height: 80px;
  /* border: 1px solid; */
  background-color: #000000;
  float: left;
  text-align: center;
  line-height: 80px;
}
.header .nav h1.logo a{
  color: #ffffff;
}
.header .nav .gnb{
  width: 500px;
  height: auto;
  /* border: 1px solid; */
  float: right;
}
.header .nav .gnb>ul{
 /* display: flex;
 justify-content: space-evenly;
 background-color: #c08dc0; */
}
.header .nav .gnb>ul::after{
  content: '';
  display: block;
  clear: both;
} 
.header .nav .gnb>ul>li{
  width: 20%;
  height: 80px;
  /* border: 1px solid; */
  box-sizing: border-box;  
 float: left; 
  text-align: center;
  line-height: 80px;
}
.header .nav .gnb>ul>li a{
  display: block;
  background-color: #c08dc0; 
 color: #ffffff;
}
.header .nav .gnb>ul>li a:hover{
  background-color: #eb1c1c; 
 color: #efe0e0;
}
